<!--
    Name of file - about.html

    Purpose of file - This file is the help page for our site. It contains a short explanation of what the site is and provides ways for viewers to contact us or view our other work.

    Date of most recent revision - 6/1/20

    Author(s) - Ethan Bradway, Matthew Hurm

    Dependencies - None
 -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="../static/styles/ethan.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik">
</head>

<body>
    <div class="title">About Us</div>
    <p>We're a team of four Drexel students who worked hard over two terms to bring you the Free Radical Periodic Table.
    </p>
    <p>Below you will find a bit of information about us, and a few ways you can reach any one of us.</p>
    <!-- <h1>Profiles</h1> -->
    <!-- We should put pictures of ourselves with introductory captions next to them here -->
    <!-- https://www.lifewire.com/caption-that-stays-with-image-3467838#:~:text=Captioning%20Tips&text=For%20example%3A,and%20after%20the%20image%20tag. -->
    <div id="contactus">
        <h1>Contact Information</h1>
        <table>
            <!-- https://www.w3schools.com/tags/tryit.asp?filename=tryhtml_link_mailto -->
            <tr>
                <th scope="row">Name</th>
                <th scope="row">Email</th>
                <th scope="row">Gitlab</th>
                <th scope="row">Others</th>
            </tr>
            <tr>
                <th scope="col">Ethan</th>
                <td><a href="mailto:ejb355@drexel.edu">ejb355@drexel.edu</a></td>
                <td><a href="https://gitlab.cci.drexel.edu/ejb355">@ejb355</a></td>
                <td><a href="tel:++1 (413) 875-2935">(413) 875-2935</a><br>
                    <a href="https://github.com/ebradway225">github</a><br>
                    <a href="https://www.linkedin.com/in/ethan-bradway-3a4195193/">linkedin</a></td>
            <tr>
                <th scope="col">Matt</th>
                <td><a href="mailto:mah534@drexel.edu">mah534@drexel.edu</a></td>
                <td><a href="https://gitlab.cci.drexel.edu/mah534">@mah534</a></td>
                <td><a href="https://github.com/mhurm">github</a></td>
            </tr>
            <tr>
                <th scope="col">Andrew</th>
                <td><a href="mailto:ajh395@drexel.edu">ajh395@drexel.edu</a></td>
                <td><a href="https://gitlab.cci.drexel.edu/ajh395">@ajh395</a></td>
            </tr>
            <tr>
                <th scope="col">Dave</th>
                <td><a href="mailto:qmn26@drexel.edu">qmn26@drexel.edu</a></td>
                <td><a href="https://gitlab.cci.drexel.edu/qmn26">@qmn26</a></td>
            </tr>
        </table>
    </div>
</body>

</html>
