<!--
    Name of file - accessibility.html

    Purpose of file - This file is the accessibility page for our site. It contains a link to a document that Andrew made which outlines the aaccessibility guidelines we agreed to follow in our frontend design.

    Date of most recent revision - 6/1/20

    Author(s) - Ethan Bradway, Matthew Hurm, Andrew Hagelthorn

    Dependencies - None
 -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accessibility Reference</title>
    <link rel='stylesheet' type='text/css' media='screen' href='../static/styles/sidepages.css'>
</head>

<body>
    <div class=subsection>
        <h1>Accessibility</h1>
        <p>As a team, we agreed to follow the guidelines <a
                href="https://docs.google.com/document/d/15rU2QiIODqqt80gt7XSzRJfUlaJsCcGbdYcE2Ysf9aw/mobilebasic">which
                are
                outlined in this document which Andrew made.</a></p>
    </div>
</body>

</html>
