/*
Name of file - sidepages.css

Purpose of file - Provides styling to help.html and accessibility.html. Modified from main.css

Date of most recent revision - 6/2/20

Author(s) - Matthew Hurm

Dependencies - None
*/

:root {
    /* nearly every value in the table is defined relationally to this*/
    --box: max(50px, 5vw);
    /* used to resize text bodies and things within it */
    --reader: max(50vw, 95vmin); /*min(920px, 90%);*/
    --theme_w: rgba(240, 240, 240, 1);
    --theme_b: rgba(54, 164, 222, 1);
    --theme_g: rgba(94, 222, 154, 1);
    --theme_n: rgba(10, 10, 10, 0.92);
    /*n for noir*/
    --theme_sh: rgba(110, 110, 110, 1);
    /*shadow*/
}

::selection {
    background: var(--theme_b)
}

@font-face {
    /* from https://quoteunquoteapps.com/courierprime/ */
    font-family: 'Courier Prime Italian';
    src: url('../fonts/Courier Prime Italic.ttf');
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--theme_w);
    color: var(--theme_n);
    font-size: 14px;
    scrollbar-width: none;
    /*!compatibility*/
}

h1, h2, h3 { margin-top: 10px; margin-bottom: 10px;}
p, a { margin: 0}

a {
    /* display: block; */
    text-decoration: none;
    color: var(--theme_b);
}

a:hover {
    transition: all 0.15s ease;
    color: var(--theme_g);
}

/* modified boilerplate from https://css-tricks.com/overriding-default-button-styles/ */
button {
    display: inline-block;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

button, input[type=submit] {
    transition: box-shadow 150ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-family: inherit;
}

button:hover, input[type=submit]:hover {
    /* stolen from https://stackoverflow.com/questions/16178382/css-lighten-an-element-on-hover */
    /* uses uniform, full-width internal shadow to darken. Yeah I know it's not actually full width, it's just really big, wow, shut up*/
    box-shadow: inset 0 0 1000px 1000px rgba(0, 0, 0, 0.1);
}

button:focus /*, input[type=submit]:focus */ {
    filter: drop-shadow(0 0 5px var(--theme_g))
}

button:active, input[type=submit]:active {
    transform: scale(0.97);
}

img { /* not a good way, but it works */
    object-fit: cover;
    max-height: 50vh;
}

.subsection {
    margin-left: 2vw
}

.el_desc_box {
    flex: 0 0 auto;
    flex-flow: row nowrap;
}

.bar {
    width: 100%;
    overflow: hidden;
    color: var(--theme_w);
    background-color: var(--theme_n);
    filter: drop-shadow(0 0 2px var(--theme_sh));
    z-index: 1;
}

.bar h1 { font-size: 44px;}

.bar a:hover {
    /*idk why I need this*/
    color: var(--theme_g);
}

#header {
    position: fixed;
    top: 0;
    height: 38px;
    z-index: 100;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

#footer {
    position: relative;
    bottom: 0;
    height: 38px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

#footer a {
    font-size: 18px;
    font-weight: 1;
    max-width: 10vw;
}

.el {
    /* height: 100%; width: 100%; */
    border-radius: 5%;
    color: var(--theme_w);
    font-size: var(--box);
    /*drop shadows. !issue lags page on resize */
    text-shadow: 0 0 2px var(--theme_sh);
    filter: drop-shadow(0 0 0.02em var(--theme_sh));
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr, 6fr, 1fr;
}

.el_num {
    margin-left: 0.25em;
    font-size: 15%;
    text-align: left;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.el_weight {
    margin-right: 0.25em;
    font-size: 15%;
    text-align: right;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.el_name {
    margin-left: 0.25em;
    font-size: 15%;
    text-align: left;
    grid-row: 3 / 4;
    grid-column: 1 / 3;
}

.el_sym {
    font-size: 40%;
    text-align: center;
    grid-row: 2 / 3;
    grid-column: 1 / 3;
}

.hyd {
    /* hydrogen */
    background-color: green;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.akm {
    /* alkali metals */
    background-color: tomato;
    grid-column: 1 / 2;
}

.aem {
    /* alkaline earth metals */
    background-color: yellowgreen;
    grid-column: 2 / 3;
}

.tsm {
    /* transition metals */
    background-color: gray;
}

.ptm {
    /* post-transition metals (aluminum gallium lead etc.)*/
    background-color: orange;
}

.oid {
    /* metalloids */
    background-color: salmon;
}

.nom {
    /* nonmetals (excluding noble gases) */
    background-color: brown;
}

.hal {
    /* halogens */
    background-color: skyblue;
    grid-column: 17 / 18;
}

.nog {
    /* noble gases */
    background-color: hotpink;
    grid-column: 18 / 19;
}

.lan {
    /* lanthanides */
    background-color: violet;
    grid-row: 8 / 9;
}

.act {
    /* actinides */
    background-color: #313155;
    grid-row: 9 / 10;
}

.unc {
    /* unclassified elements */
    background-color: lightgray;
}
